@import './mixins';

.container {
  padding-inline: 16px;

  @include onTablet {
    padding-inline: 24px;
  }

  @include onDesktop {
    max-width: 1200px;
    padding-inline: 32px;
    margin-inline: auto;
  }
}
