/* stylelint-disable */
@import 'app/styles/variables/global';

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effect-duration ease-in-out;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 1fr);
  }
}
/* stylelint-enable */
