@import 'app/styles/mixins';
@import 'app/styles/variables/global';

.pagination {
  margin: 40px auto 80px;
  width: fit-content;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background-color: var(--color-bg);
    border: 1px solid $color-elements;

    &:hover {
      background-color: $color-accent;
    }

    &--active {
      pointer-events: none;
      background-color: $color-accent;

      &:hover {
        background-color: $color-accent;
      }
    }

    &--disabled {
      pointer-events: none;
      color: $color-elements;
      border: 1px solid var(--color-icons);
    }
  }
}
