$tablet-min-width: 640px;
$tablet-extended-min-width: 896px;
$desktop-min-width: 1200px;
$phone-page-padding: 16px;
$tablet-page-padding: 24px;
$desktop-page-padding: auto;
$effect-duration: 0.3s;
$color-secondary: #75767f;
$color-icons-light: #b4bdc3;
$color-icons: #4a4d58;
$color-elements: #3b3e4a;
$color-surface1: #161827;
$color-surface2: #323542;
$color-surface2-light: #f6f5f8;
$color-black: #0f1121;
$color-white: #f1f2f9;
$color-primary: #18181a;
$color-accent: #905bff;
$color-accent-hover: #a378ff;
$color-green: #27ae60;
$color-red: #eb5757;
