@import '/src/app/styles/index';

.user-route {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  height: 16px;

  &__path-item {
    color: $color-secondary;
  }
  &__icon {
    fill: var(--color-main-text);
  }
}
