@import 'app/styles/mixins';
@import 'app/styles/container';

.product-details {
  margin-top: 24px;
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__link {
    display: block;
    font-weight: 700;
    line-height: 15px;
    margin-top: 24px;

    @include onTablet {
      margin-top: 40px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 10px;
      background: url('../../assets/icons/arrow-left.svg') center;
      margin-right: 8px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
      margin-top: 16px;
    }
  }

  &__id {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $color-secondary;
    text-align: end;
    grid-column: 1/-1;
    position: absolute;
    right: 0;
    top: 428px;

    @include onTablet {
      grid-column: 1/-1;
      top: 4px;
    }

    @include onDesktop {
      grid-column: -3/-1;
    }
  }

  &__info {
    @include gridContainer;

    position: relative;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }
}
