@import '/src/app/styles/index';

.button {
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &-square {
    width: 40px;
  }
}

.size {
  &-s {
    width: 32px;
    height: 32px;
  }

  &-m {
    width: 48px;
    height: 48px;
  }

  &-l {
    width: 64px;
    height: 64px;
  }
}

.round {
  background: none;
  border-radius: 50%;
  border: 2px solid;
  padding: 2px;

  &:hover {
    background: none;
    border-color: #75767f;
  }
}

.clear {
  background: none;

  &:hover {
    color: #905bff;
    background: none;
  }
}
