@import 'app/styles/index';

.pictures-slider {
  &__title {
    font-size: 32px;
    padding-block: 24px;

    @include onTablet {
      font-size: 38px;
      padding-block: 32px;
    }

    @include onDesktop {
      font-size: 48px;
      padding-block: 56px;
    }
  }

  &__slider-img {
    object-fit: cover;
    aspect-ratio: 1.5;

    @include onTablet {
      aspect-ratio: 2;
    }

    @include onDesktop {
      aspect-ratio: 2.75;
    }
  }

  .carousel .control-dots .dot {
    width: 14px;
    height: 4px;
    border-radius: 0;
    margin: 4px;
  }
}
