@import 'app/styles/index';

.favourites-btn {
  width: 40px;
  height: 40px;
  background-color: var(--color-surface1);
  border: 1px solid var(--color-icons);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 1px solid var(--card-border-hover);
  }

  &__icon {
    fill: var(--color-main-text);
  }
}
