@import 'app/styles/variables/global';
@import 'app/styles/mixins';

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.48px;

  &__logo {
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 16px;

    @include onTablet {
      top: 0;
      position: relative;
      margin-right: 32px;
    }
  }

  &__logo-link {
    width: 80px;
    height: 28px;
    background-image: var(--logo-url);
  }

  &__item {
    position: relative;
    display: none;
    margin: 0 12px;
    color: $color-secondary;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;

    @include hover(color, var(--color-main-text));

    &--active {
      color: var(--color-main-text);

      &::after {
        content: attr(div);
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--color-main-text);
      }
    }

    @include onDesktop {
      display: block;
      padding: 24px 0;
      margin: 0 24px;
    }
  }
}

.logo-size {
  width: 64px;
  height: 22px;

  @include onDesktop {
    width: 80px;
    height: 28px;
  }
}
