@import 'app/styles/variables/global';

.dark {
  --color-bg: #{$color-black};
  --color-main-text: #{$color-white};
  --color-surface1: #{$color-surface1};
  --color-surface2: #{$color-surface2};
  --color-icons: #{$color-icons};
  --logo-url: url('../../../assets/icons/Logo.svg');

  --card-border: #{$color-surface2};
  --card-border-hover: #{$color-accent-hover};
}
