@import 'app/styles/variables/global';

.light {
  --color-bg: #fff;
  --color-main-text: #{$color-primary};
  --color-surface1: #fff;
  --color-surface2: #{$color-surface2-light};
  --color-icons: #{$color-icons-light};
  --logo-url: url('../../../assets/icons/Logo-dark.svg');
  --card-border: #{$color-surface2-light};
  --card-border-hover: #{$color-primary};
}
