@import 'app/styles/reset';
@import 'app/styles/index';
@import 'app/styles/fonts';

body {
  min-width: 320px;
  font-family: Mont, sans-serif;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}
