@import 'app/styles/mixins';

.cart {
  position: relative;
  padding-top: 24px;
  padding-bottom: 56px;

  @include onTablet {
    padding-top: 40px;
    padding-bottom: 64px;
  }

  @include onDesktop {
    padding-bottom: 80px;
  }

  &.modal-open {
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 50%);
      z-index: 2;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
      margin-top: 16px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--color-main-text);
    background-color: transparent;
    font-weight: 700;
    line-height: 16px;
    margin-top: 24px;
    vertical-align: middle;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__back {
    fill: var(--color-main-text);
    margin-right: 4px;
    margin-bottom: 2px;
  }

  &__content {
    @include gridContainer;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__list {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      grid-column: span 12;
    }

    @include onDesktop {
      grid-column: span 16;
    }
  }

  &__checkout {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 206px;
    text-align: center;
    border: 1px solid var(--color-icons);
    padding: 24px;
    margin: 32px 0 56px;
    background-color: var(--color-surface1);

    @include onTablet {
      grid-column: span 12;
      margin-bottom: 64px;
    }

    @include onDesktop {
      grid-column: span 8;
      margin: 0;
    }
  }

  &__sum {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: var(--color-main-text);
  }

  &__total-items {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-secondary;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-elements;
    margin-bottom: 16px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background: $color-accent;
    color: $color-white;

    @include hover(background-color, $color-accent-hover);

    &--disabled {
      background: $color-surface2;

      @include hover(background-color, $color-surface2);

      pointer-events: none;
    }
  }
}
