@import 'app/styles/index';

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  background-color: $color-accent;
  border: 1px solid $color-accent;
  color: $color-white;
  text-decoration: none;
  text-align: center;

  @include hover(background-color, $color-accent-hover);

  &:disabled {
    background-color: var(--color-surface1);
    border: 1px solid var(--color-icons);
    color: $color-green;
    pointer-events: none;
  }
}
