@import '/src/app/styles/index';

.search {
  &__wrapper {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    z-index: 1;

    @include onTablet {
      position: relative;
      width: 402px;
      margin-inline: 16px;
      top: 0;
    }

    @include onDesktop {
      margin-inline: 24px;
      width: 402px;
    }
  }

  &__container {
    background-color: var(--color-surface1);
    border-block: 1px solid var(--color-icons);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;

    @include onTablet {
      border-inline: 1px solid var(--color-icons);
    }
  }

  &__icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-elements;
  }

  &__field {
    background-color: transparent;
    color: var(--color-main-text);
    text-justify: center;
    height: 100%;
    width: 100%;
    font-size: 12px;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__results {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-black;

    @include onTablet {
      border-inline: 1px solid var(--color-icons);
      top: 48px;
    }

    @include onDesktop {
      top: 48px;
    }
  }

  &__results-item {
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;
    color: var(--color-elements);
    border-bottom: 1px solid var(--color-icons);
    background-color: var(--color-surface1);
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }

  &__results-photo {
    height: 32px;
    background-color: $color-white;
    margin: 4px;

    @include onTablet {
      height: 40px;
    }
  }
}

#search-icon {
  color: var(--color-elements);
}
