@import 'app/styles/index';

.products-slider {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 32px;
    }
  }

  &__content {
    @include gridContainer;

    grid-template-rows: 1fr;
    row-gap: 16px;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-icons);
    background-color: var(--color-surface1);

    &:hover {
      border: 1px solid var(--color-main-text);
    }

    &--disabled {
      cursor: default;

      &:hover {
        border: 1px solid var(--color-icons);
      }
    }
  }

  &__icon {
    fill: var(--color-main-text);

    &--disabled {
      fill: var(--color-icons);
    }
  }
}
