@import 'app/styles/index';

.slider {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 32px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--color-surface1);
    border: 1px solid var(--color-icons);

    @include hover(border-color, var(--color-main-text));

    &-left--disabled,
    &-right--disabled {
      pointer-events: none;
    }
  }

  &__icon {
    fill: var(--color-main-text);

    &-left--disabled,
    &-right--disabled {
      fill: var(--color-icons);
    }
  }

  &__bottom {
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slider {
    display: inline-flex;
    transition: transform 0.5s ease-in-out;
  }

  &__card {
    width: 272px;
    height: 100%;
    background-color: $color-secondary;
    margin: 8px;
  }
}
