@import 'app/styles/variables/global';
@import 'app/styles/mixins';

.header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $color-black;
  border-bottom: 1px solid $color-elements;

  @include onDesktop {
    height: 64px;
  }
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &__total-count {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 2px 0;
    font-size: 9px;
    font-weight: 700;
    background-color: $color-red;
    border-radius: 50%;
    position: absolute;

    @include onTablet {
      top: 10px;
      right: 10px;
    }

    @include onDesktop {
      top: 18px;
      right: 18px;
    }
  }

  &__button-right {
    position: relative;
    padding: 13px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $color-black;
    border: none;
    border-left: 1px solid $color-elements;
    border-bottom: 1px solid $color-elements;
    cursor: pointer;
    box-sizing: border-box;

    &:not(:first-child) {
      display: none;
    }

    &--active {
      &::after {
        content: attr(div);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-white;
      }
    }

    @include onTablet {
      &:not(:first-child) {
        display: flex;
      }

      &:first-child {
        display: none;
      }
    }

    @include onDesktop {
      width: 64px;
      height: 64px;
    }

    &--icon {
      display: block;
      height: 16px;
      width: 16px;
    }
  }
}
