@import 'app/styles/variables/global';
@import 'app/styles/mixins';

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $color-black;
  border-bottom: 1px solid $color-elements;
  z-index: 1;

  @include onDesktop {
    height: 64px;
  }
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $color-black;
    border: none;
    border-left: 1px solid $color-elements;
    border-bottom: 1px solid $color-elements;
    cursor: pointer;
    box-sizing: border-box;

    &:not(:first-child) {
      display: none;
    }

    @include onTablet {
      &:not(:first-child) {
        display: flex;
      }

      &:first-child {
        display: none;
      }
    }

    @include onDesktop {
      width: 64px;
      height: 64px;
    }

    &--icon {
      display: block;
      height: 16px;
      width: 16px;
    }
  }
}
