@import 'app/styles/index';

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--color-surface1);
  border: 1px solid $color-elements;
  padding: 16px;

  &:last-child {
    margin-bottom: 20px;
  }

  @include onTablet {
    flex-direction: row;
    padding: 31px 24px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }

  &__description {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }

  &__price-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  &__icons-block {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
  }

  &__counter {
    display: flex;
    justify-content: center;
    width: 32px;
  }

  &__price {
    font-weight: 800;
    font-size: 22px;
    line-height: 30.8px;
    min-width: 80px;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  &__btn {
    height: 32px;
    width: 32px;
    background-color: var(--color-surface1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-icons);

    &:hover {
      border: 1px solid var(--color-main-text);
    }

    &:disabled {
      cursor: default;

      &:hover {
        border: 1px solid var(--color-icons);
      }
    }
  }

  &__icon {
    fill: var(--color-main-text);

    &--disabled {
      fill: var(--color-icons);
    }
  }
}
