@import 'app/styles/variables/global';
@import 'app/styles/mixins';

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: calc(100vh - 80px);
  margin: 0 auto;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.48px;
  background-color: var(--color-bg);
  z-index: 5;

  @include onDesktop {
    display: none;
  }

  &__nav {
    margin: 24px 16px;
    height: 100%;
  }

  &__bottom {
    display: flex;
    width: 100%;
    position: static;
    bottom: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    border-top: 1px solid $color-surface2;

    &:not(:last-child) {
      border-right: 1px solid $color-surface2;
      z-index: 1;
    }

    &--active {
      border-bottom: 3px solid var(--color-main-text);
    }
  }

  &__link-icon {
    fill: var(--color-main-text);
    width: 16px;
    height: 16px;
    margin: 16px;
  }

  &__link-wrapper {
    position: relative;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__total-count {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: 700;
    background-color: $color-red;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 51%;
  }

  &__profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 16px;
  }
}

.nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: 27px;
    margin-top: 16px;
    font-weight: 800;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
  }

  &__link {
    color: $color-secondary;
    padding-block: 8px;
    position: relative;

    &--active {
      border-bottom: 3px solid var(--color-main-text);
      color: var(--color-main-text);
    }
  }
}
