@import 'app/styles/variables/global';
@import 'app/styles/mixins';

.menu {
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.48px;
  background-color: $color-black;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }

  &__nav {
    margin: 24px 16px;
  }

  &__bottom {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__link {
    display: block;
    height: 64px;
    width: 50%;
    border-top: 1px solid $color-surface2;

    &:first-of-type {
      border-right: 1px solid $color-surface2;
      z-index: 1;
    }

    background-repeat: no-repeat;
    background-position: center;

    &--favourite {
      background-image: url('../../shared/assets/Favourites-Icon.svg');
    }

    &--shopping-bag {
      background-image: url('../../shared/assets/ShoppingBag-Icon.svg');
    }

    &--active {
      border-bottom: 3px solid $color-white;
    }
  }

  &__count-wrapper {
    position: relative;
  }

  &__total-count {
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: 700;
    background-color: $color-red;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 51%;
  }
}

.nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: 27px;
    margin-top: 16px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
  }

  &__link {
    color: $color-secondary;
    padding-block: 8px;
    position: relative;

    &--active {
      border-bottom: 3px solid $color-white;
      color: $color-white;
    }
  }
}
