@import 'app/styles/variables/global';
@import 'app/styles/mixins';

.footer {
  width: 100%;
  height: 256px;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: $color-black;
  border-top: 1px solid $color-elements;

  @include onTablet {
    height: 96px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include onDesktop {
      max-width: 1200px;
    }
  }

  &__logo {
    width: 89px;
    height: 32px;
    padding: 0;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      max-width: 896px;
    }

    @include onDesktop {
      max-width: 1136px;
      gap: 108px;
    }
  }

  &__navigation-item {
    margin: 0;
    margin-bottom: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.48px;
    font-size: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin: 0;
    }
  }

  &__back-to-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    visibility: hidden;
  }

  &__back-to-top-link {
    text-decoration: none;
    color: $color-secondary;
    font-size: 12px;
    font-weight: 700;
    background: none;
  }

  &__back-to-top-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
  }
}

.hidden {
  visibility: visible;
}
