@import '/src/app/styles/index';

.dropdown {
  position: relative;
  background: var(--color-bg);
  border: 1px solid $color-elements;
  z-index: 2;

  &-selector {
    padding: 15px;
    min-width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      min-width: 176px;
    }
  }

  &-content {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    border: 1px solid $color-elements;
    color: $color-secondary;
  }

  &-option {
    padding: 10px 15px;
    background-color: var(--color-bg);
    cursor: pointer;

    &:hover {
      color: var(--color-main-text);
    }
  }

  &-icon {
    fill: var(--color-main-text);
  }
}
