@import '/src/app/styles/index';

.dropdown {
  position: relative;
  border: 1px solid transparent;
  background: #323542;

  &-active {
    border: 1px solid #905bff;
  }

  &-selector {
    padding: 15px;
    min-width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      min-width: 176px;
    }
  }

  &-content {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #3b3e4a;
    color: #75767f;
  }

  &-option {
    padding: 10px 15px;
    background-color: #323542;

    &:hover {
      background-color: #2a2b30;
    }
  }
}
