@import 'app/styles/mixins';
@import 'app/styles/variables/global';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-surface1);
  border: 1px solid $color-elements;
  padding: 24px;

  @include onTablet {
    inset: 20% 30%;
  }

  @include onDesktop {
    inset: 20% 38% 23%;
  }

  &__header {
    margin: 20px 0;
    font-size: 22px;

    @include onTablet {
      margin: 40px 0;
      font-size: 32px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: var(--color-surface1);
    border: 1px solid var(--color-icons);

    &:hover {
      border: 1px solid var(--color-main-text);
    }
  }

  &__button-icon {
    fill: var(--color-main-text);
  }

  &__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 5px;
    font-size: 14px;
    background-color: $color-surface2-light;

    @include onTablet {
      margin-bottom: 20px;
      padding: 10px;
      font-size: 16px;
    }
  }

  &__submit {
    margin: 20px 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 800;
    background-color: $color-accent;
    color: $color-white;

    @include onTablet {
      margin: 40px 0;
      height: 60px;
      font-size: 20px;
    }

    @include onDesktop {
      padding-inline: 60px;
      width: fit-content;
    }

    &:hover {
      background-color: $color-accent-hover;
    }
  }
}
