@import '../../app/styles/mixins';
@import '../../app/styles/container';

.page {
  &__section {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__section-title {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 24px;

    @include onTablet {
      font-size: 32px;
    }
  }
}
